# Maven
target/
*.class

# Allure results
allure-results/
allure-report/
.allure/

# Eclipse
.classpath
.project
.settings/
.metadata/

# Reports
reporte/
test-output/
*.docx
*.xlsx

# OS
.DS_Store
Thumbs.db

# Drivers
drivers/

# Logs
logs/
*.log