<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Main_Test_Suite_Execution" parallel="classes" thread-count="5">

    <parameter name="testUrl" value="Nearpedia/site/index.html"/>
    <parameter name="browser" value="CHROME"/>
    <parameter name="max_wait" value="30"/>

    <test name="testSuite-test">
        <classes>
            <class name="test.nearpedia.ATC01_NearpediaTest"/>
            <class name="test.nearpedia.ATC02_NearpediaTest"/>
            <class name="test.nearpedia.ATC03_NearpediaTest"/>
            <class name="test.nearpedia.ATC04_NearpediaTest"/>
            <class name="test.nearpedia.ATC05_NearpediaTest"/>
        </classes>
    </test>

</suite>